body {
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
}
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3em;
    background-color: lightblue;
}
div {
    font-weight: bold;
    font-size: 16px;
    font-family: 고딕;
}