div.container {  /* 전체 콘텐츠를 감싸는 div */
    width:650px;  /* 너비 */
    margin:0 auto;  /* 가로로 중앙에 배치 */
    padding:5px;	/* 테두리와 내용 사이의 패딩 여백 */		
}
div.check {   /* 텍스트 부분을 감싸는 div */
    width:640px;  /* 너비 - 그림 너비 값에 맞춤 */
    border:1px solid #ccc;  /* 테두리 */
}
.check h1 {
    color: white;
    font-size: 1em;
    background: #222;
    margin: 0;
    padding: 10px;
}
/* text-align = 텍스트 정렬 */
.check h2 {
    color: #f00;
    font-size: 1.2em;
    text-align: center;
}
.check p {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}
.accent {
   color: blue; 
}
.smalltext {
    font-size: 0.7em;
}